

{% extends 'partials/index.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
{% endblock %}

{% block content %}

<section class="blog-form-page">
    <div class="blog-form-card">

        <h2>Create New Post</h2>

        <form method="POST" action="{{ url_for('blog_admin.blog_new') }}" enctype="multipart/form-data">

            {{ form.hidden_tag() }}

            <label for="title">Title</label>
            {{ form.title }}

            <label for="content">Content</label>
            {{ form.content }}
            
            <label for="image">Select image</label>
            <input type="file" id="image" name="image">

            <button type="submit" class="btn">Create Post</button>
            <a href="{{ url_for('blog.blog') }}" class="btn btn-danger">Back</a>

        </form>

    </div>
</section>

{% endblock %}
