



{% extends 'partials/index.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css') }}">
{% endblock %}

{% block content %}
<section class="form-page">
    <div class="form-card">
        <h2>Add New Project</h2>

        <form method="POST" enctype="multipart/form-data" class="form">
            {{ form.hidden_tag() }}

            <div class="form-group">
                <label>Title</label>
                {{ form.title(class="") }}
            </div>

            <div class="form-group">
                <label>Description / Link</label>
                <!-- {{ form.description(class="ckeditor") }} -->

                <textarea name="description" rows="6" required></textarea>

            </div>

            <div class="form-group">
                <label>Select image</label>
                <input type="file" name="image">
            </div>

            <div class="form-actions">
                <button type="submit" class="btn">Add Project</button>
                <a href="{{ url_for('portfolio.portfolio') }}" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</section>

<!-- <script>
    // CKEditor: sincronizar antes de enviar
    document.querySelector('form').addEventListener('submit', function() {
        for (let instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }
    });
</script> -->

{% endblock %}
