

{% extends 'partials/index.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css') }}">
{% endblock %}


{% block content %}

<section class="form-page">
    <div class="form-card">
        <h2 class="text-center">Edit project</h2>

        <form method="POST"
              action="{{ url_for('portfolio_admin.portfolio_edit', project_id=project.id) }}"
              enctype="multipart/form-data"
              class="form">

            {{ form.hidden_tag() }}

            <!-- title -->
            <div class="form-group">
                {{ form.title.label }}
                {{ form.title(class="form-control") }}

                {% for error in form.title.errors %}
                    <small class="form-error">{{ error }}</small>
                {% endfor %}
            </div>

            <!-- description -->
            <div class="form-group">
                {{ form.description.label }}
                {{ form.description(class="ckeditor form-control", rows="6") }}

                {% for error in form.description.errors %}
                    <small class="form-error">{{ error }}</small>
                {% endfor %}
            </div>

            <!-- imagen -->
            <div class="form-group">
                {{ form.image.label }}
                {{ form.image(class="form-control") }}

                {% if project.image %}
                <div class="current-image">
                    <span>Current image</span>
                    <img src="{{ url_for('static', filename='uploads/portfolio/' ~ project.image) }}"
                         alt="Current image">
                </div>
                {% endif %}
            </div>

            <!-- actions -->
            <div class="form-actions">
                {{ form.submit(class="btn") }}
                <a href="{{ url_for('portfolio_admin.portfolio_admin_list') }}" class="btn btn-danger">
                    Back
                </a>
            </div>

        </form>
    </div>
</section>

{% endblock %}
