


{% extends 'index.html' %}

{% block content %}

    <section class="container py-5">
        <h2>Edit article</h2>

        <form method="POST" action="{{ url_for('blog.blog_edit', post_id=post.id) }}" enctype="multipart/form-data">
            
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ post.title }}">
            </div>

            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea class="form-control" id="content" name="content">{{ post.content }}</textarea>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input type="file" class="form-control" id="image" name="image">
                {% if post.image %}
                    <p>Current image: <img src="{{ url_for('static', filename='uploads/portfolio/' ~ post.image) }}" height="80"></p>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary">Save Changes</button>
            
        </form>
    </section>

{% endblock %}
