


{% extends 'index.html' %}

{% block content %}

    <section class="container" style="max-width:600px; margin: 80px auto;">
        <h2>Create new post</h2>

        <form method="POST">
            <div>
                <label>Title</label><br>
                <input type="text" name="title" required style="width:100%">
            </div>

            <br>

            <div>
                <label>Content</label><br>
                <textarea name="content" rows="6" required style="width:100%"></textarea>
            </div>

            <br>

            <button type="submit">Save post</button>
        </form>
    </section>
    
{% endblock %}
