


{% extends 'index.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
{% endblock %}

{% block content %}

    <section class="blog-form-page">

        <div class="blog-form-card">
            <h2>Edit article</h2>

            <form method="POST" action="{{ url_for('blog.blog_edit', post_id=post.id) }}" enctype="multipart/form-data">
                
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" value="{{ post.title }}">

                    <label for="content">Content</label>
                    <textarea id="content" name="content">{{ post.content }}</textarea>

                    <label for="image">Image</label>
                    <input type="file" id="image" name="image">

                    {% if post.image %}
                        <p>Current image: <img src="{{ url_for('static', filename='uploads/blog/' ~ post.image) }}" height="80"></p>
                    {% endif %}

                <div class="blog-edit-actions">
                    <button type="submit" class="btn">Save Changes</button>
                    <a href="{{ url_for('blog.blog') }}" class="btn btn-danger">Back</a>
                </div>

            </form>
        </div>
    </section>

{% endblock %}
