


{% extends 'index.html' %}

{% block content %}

    <section class="container" style="max-width:600px; margin: 80px auto;">
        <h2>Create new post</h2>

        <form method="POST" action="{{ url_for('blog.blog_new') }}" enctype="multipart/form-data">

            <input type="text" name="title" placeholder="Title">
            <br>
            <textarea name="content" placeholder="Content"></textarea>
            <br>
            <input type="file" name="image">
            <br>
            <button type="submit">Create Post</button>
        </form>
    </section>
    
{% endblock %}
