


{% extends 'partials/index.html' %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages.css') }}">
{% endblock %}

{% block content %}
    <section class="form-page flex-center flex-column">

        <div class="form-card">
            <h2 class="text-center">Edit Biography</h2>

            <form method="POST" class="form" novalidate>
                {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ form.content.label }}
                    {{ form.content }}
                </div>

                <div class="form-actions flex-center">
                    {{ form.save(class="btn") }}
                    <a href="{{ url_for('pages.pages') }}" class="btn btn-danger">Cancel</a>
                </div>
            </form>
        </div>
    </section>



{% endblock %}
