
#blog h2 {
    text-align: center;
    padding: 20px;
    color: black;
}

.blog_container {
    margin-top: 20px;
    margin-bottom: 200px;
}

.blog_card {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    box-shadow: 2px 2px 10px rgb(0,0,0,0.2);
    text-align: center;
}

.blog_card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Contenedor centrado */
.blog-form-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 40px;
}

/* Card del formulario */
.blog-form-card {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Título centrado */
.blog-form-card h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Inputs y textarea */
.blog-form-card input[type="text"],
.blog-form-card textarea,
.blog-form-card input[type="file"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Botón Crear Post */
.btn-create {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    background-color: #7401b2;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Hover botón */
.btn-create:hover {
    background-color: #a500c3;
}

/* Botón Back */
.btn-back {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #7401b2;
    text-decoration: none;
}

.btn-back:hover {
    color: #a500c3;
}





@media (min-width: 768px) {
    #blog {
        display: flex;
        justify-content: center;
    }

    #blog .container {
        width: 60%;         
        text-align: center; 
    }

    .blog_card {
        margin: 40px;
    }

    .blog_card img {
        width: 60%;
    }

}
