
#blog h2 {
    text-align: center;
    padding: 20px;
    color: black;
}

.blog_container {
    margin-top: 20px;
    margin-bottom: 200px;
}

.blog_card {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    box-shadow: 2px 2px 10px rgb(0,0,0,0.2);
    text-align: center;
}

.blog_card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.blog_btn {
    display: inline-block;
    margin-top: 15px;
}


@media (min-width: 768px) {
    #blog {
        display: flex;
        justify-content: center;
    }

    #blog .container {
        width: 60%;         
        text-align: center; 
    }

    .blog_card {
        margin: 40px;
    }

}
