

.hero_pages .container {
    background-color: white;
    color: black;
    text-align: center;
}

.hero_pages img {
    width: 100%;
    max-width: 500px;
    padding: 20px;
}


@media(min-width: 768px) {
    .hero_pages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 60vh;
        background-image: linear-gradient(
            rgb(0,0,0,0.1),
            rgb(0,0,0,1)
            ) ,url("../img/photo_computer.jpg");
        background-position: center;
        background-size: cover;
    }

    .hero_pages .container {
        background-color: transparent;
        margin: 0 auto;
        font-size: 2rem;
        color: aliceblue;
    }

    .hero_pages img {
        display: none;
    }

    #cards_pages_txt .container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-bottom: 100px;
        padding: 40px;
        margin-top: 100px;
    }

}