

.hero_pages .container {
    background-color: white;
    color: black;
    text-align: center;
}

.hero_pages img {
    width: 100%;
    max-width: 500px;
    padding: 20px;
}


.bio_content {
    max-width: 800px;
    margin-top: 50px;
}

.bio_image img {
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}



.bio_text p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.bio_text a {
    margin-top: 40px;
}

.form-group {
    margin: 50px;
    
}

.form-actions {
    gap: 2rem;
    margin: 40px;
}

@media(min-width: 768px) {
    .hero_pages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 60vh;
        background-image: linear-gradient(
            rgb(0,0,0,0.1),
            rgb(0,0,0,1)
            ) ,url("../img/aboutme_camera.jpeg");
        background-position: center;
        background-size: cover;
    }

    .hero_pages .container {
        background-color: transparent;
        margin: 0 auto;
        font-size: 2rem;
        color: aliceblue;
    }

    .hero_pages img {
        display: none;
    }

    #cards_pages_txt .container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-bottom: 100px;
        padding: 40px;
        margin-top: 100px;
    }

}