

.hero_portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.hero_portfolio img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.hero_portfolio .container {
    text-align: center;
    background-color: transparent;
    color: black; 
    margin-top: 20px;
}


#cards_portfolio .container img {
    max-width: 100%; 
    border-radius: 8px;
}

#cards_portfolio .container > div {
    margin-bottom: 150px;
}


@media(min-width: 768px) {
    .hero_portfolio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 60vh;
        background-image: linear-gradient(
            rgb(0,0,0,0.1),
            rgb(0,0,0,1)
            ) ,url("../img/photo_devweb.jpg");
        background-position: center;
        background-size: cover;
    }

    .hero_portfolio .container {
        background-color: transparent;
        margin: 0 auto;
        font-size: 2rem;
        color: aliceblue;
    }

    .hero_portfolio img {
        display: none;
    }

    #cards_portfolio h2 {
        margin-top: 150px;
        margin-bottom: 0px;
    }
    
    #cards_portfolio .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 100px;
    }
    
    #cards_portfolio img {
        width: 500px;
        height: 300px;
    }
}
