

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

h1 {font-size: 3.5em;}
h2 {font-size: 2.7em;}
h3 {font-size: 2em;}
h4 {font-size: 1.5em;}
p {font-size: 1.25em;}
ul {list-style: none;}
li {font-size: 1.2em;}

button, 
.hero a,
#map_container a,
#cards a,
#cards_articles a, 
#lets_create a {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 8px;
    border: 2px solid rgb(0,0,0, 0.3);
    box-shadow: 2px 2px 10px rgb(0,0,0);
    color:white;
    background-color: rgb(116, 1, 178);
    cursor: pointer;
}

button:hover, 
.hero a:hover,
#map_container a:hover,
#cards a:hover,
#cards_articles a:hover,
#lets_create a:hover {
    background-color: rgb(175, 0, 67);
}

.container {
    padding: 20px;
}

header {
    background-color: beige;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header .logo {
    padding: 25px;
    margin: 0px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.5em;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color:black
}

header a:hover {
    color: blue;
}

header .search {
    margin-bottom: 30px;
    margin-top: 20px;
}

header input {
    padding: 5px;
    margin: 10px;
}

header button {
    font-size: 0.9em;
}

.hero .container {
    background-color: black;
    color: white;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.banner, 
.banner a, 
.banner address {
    background-color: black;
    color: white;
    padding: 3px;
}

.banner p {
    background-color: blue;
    padding: 10px;
    margin-top: 60px;
    text-align: center;
}

#cards {
    color: white;
}

#cards h2 {
    padding:20px;
    text-align: center;
    color: black;
}

#cards .container > div,
#cards_articles .container > div {
    position: relative;
    z-index: 1;
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
    color: white
}

#cards .container > div::before,
#cards_articles .container > div::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 0;
}

#cards_articles h2 {
    color: black;
}

#cards h3, #cards p,
#cards button,
#cards a,
#cards_articles a,
#cards_articles h2, 
#cards_articles h3,
#cards_articles h4,
#cards_articles p,
#cards_articles button {
    text-align: center;
    padding: 5px;
    position: relative;
    z-index: 1;
}

#cards .container, 
#cards_articles .container {
    color: white;
    text-align: center;
    margin-top: 20px;
}

#cards p {
    display: none;
}

#cards a,
#cards_articles a {
    text-decoration: none;
}

.card_desing{
    background-image: url("../img/Branding-design.jpg");
}

.card_develope {
    background-image: url("../img/website-development.png");;
}

.card_modelling {
    background-image: url("../img/illustration_modeling.jpeg");
}

.card_marketing {
    background-image: url("../img/digital_marketing.jpeg");
}

.services .container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    background-color: rgb(232, 255, 127);
}

.services img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
 }

.services p {
    margin-top: 60px;
    margin-bottom: 70px;
}

.services .services_list {
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 2.5em;
}

.scroll_container {
    overflow: auto;   
    background-color: #333;
    white-space: nowrap;
    padding: 10px;
}

.scroll_container img {
    padding: 5px;
    width: 250px;
    height: 250px;
}

#img_scroll h2 {
    text-align: center;
}

.events {
    margin: 30px;
}

#cards_articles {
    background-color: aliceblue;
}

.card_return {
    background-image: url("../img/Branding-design.jpg");
}

.card_result {
    background-image: url("../img/website-development.png");;
}

.card_usability {
    background-image: url("../img/illustration_modeling.jpeg");
}

#lets_create {
    padding: 20px;
    background-color: greenyellow;
    text-align: center;
}

#footer {
    background-color:rgb(255, 253, 250);
}

#footer form input {
    text-align: center;
    font-size: 1.3em;
    border-radius: 8px;
}

#footer nav a {
    display: flex;
    flex-direction: column;
    padding: 7px;
    font-weight: bold;
}

#footer .container small {
    display: block;
    text-align: center;
    padding: 50px;
}


@media(min-width: 768px) {
    header {
        position: sticky;
        top: 0;
        z-index: 2;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
        padding: 0px;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0px;
    } 

    header .search {
        margin: 0px;
        margin-right: 30px;
    }

    .hero img {
        display: block;
        width: 500px;
    }

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90vh;
        color:rgb(248, 248, 248);
        background-color:black;
        background-image: linear-gradient(
            rgb(0,0,0,0.1),
            rgb(0,0,0,1)
            ) ,url("../img/img_desarrollo.jpeg");
        background-repeat: no-repeat;
        background-size: 75%;
        background-position: right;
    }

    .hero .container {
        background-color:transparent;
        text-align:left;
        width: 40%;
        margin-left: 100px;
    }

    .hero button {
        margin: 20px;
        margin-top: 50px;
    }

    .banner address {
        display: flex;
        justify-content: center;
        gap: 100px;
        font-size: 1.3em;
    }

    .banner p {
        padding: 30px;
        font-size: 2em;
        margin-bottom: 0px;
    }

    #cards h2 {
        margin-top: 150px;
        margin-bottom: 0px;
    }
    
    #cards .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-left: 200px;
        margin-right: 200px;
    }

    .services .container {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .services .container_del_container {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .services img {
        width: 50%;
        border-radius: 8px;
    }

    .services h2, 
    .services p {
        text-align: left;
    }

    .scroll_container img {
        padding: 20px;
        width: 400px;
        height: 300px;
        border-radius: 50px;
    }    

    .events .container {
        text-align: center;
        margin: 200px;
    }

    #cards_articles .container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-bottom: 100px;
        padding: 40px;
    }

    #lets_create .container {
        padding: 100px;
    }

    #lets_create .container p {
        padding: 40px;
    }

    #footer .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 4rem;
    }   

    #footer .container_left {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #footer .container_right {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    #footer nav a {
        margin: 20px;
    }

    #footer small {
        display: block;
        grid-column: 1 / -1;
        text-align: center;
        margin-top: 70px;
    }

}