




{% extends 'index.html' %}

{% block content %}

    <section class="container" style="max-width:600px; margin: 80px auto;">
        <h2>Add new project</h2>

        <form method="POST" enctype="multipart/form-data">
            <div>
                <label>Title</label><br>
                <input type="text" name="title" required style="width:100%">
            </div>

            <br>

            <div>
                <label>Content Project / link ?? </label><br>
                <textarea name="description" rows="6" required style="width:100%"></textarea>
            </div>

            <br>

            <div>
                <label>Select image</label><br>
                <input type="file" name="image" class="form-control">
            </div>
            <br>

            <button>Add project</button>
        </form>
    </section>
    
{% endblock %}
