
{% extends 'index.html' %}


{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css') }}">
{% endblock %}


{% block content %}

    <section>
        <div class="hero_portfolio">
            <img src="{{ url_for('static', filename='img/photo_devweb.jpg') }}" alt="photo_computer">
            <div class="container">
                <h2>Portfolio</h2>
            </div>
        </div>
    </section>

    <section id="cards_portfolio">

        <a href="{{ url_for('portfolio.portfolio_new') }}">Add new project</a>

        <div class="container">

            {% for project in projects %}

                <div class="card_decentralized">
                    <a href="{{ url_for('portfolio.portfolio_project') }}">
                        <img src="{{ url_for('static', filename='img/photo_ordi.jpg') }}" alt="Branding-design">
                        <h3>Educational Platform</h3>
                        <h4>Branding/ Developement/ Marketing</h4>
                    </a>
                </div>

            {% else %}

            <p>there not are projects...</p>

            {% endfor %}

        </div>
    </section>
    
{% endblock %}