
{% extends 'index.html' %}


{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css') }}">
{% endblock %}


{% block content %}

    <section>
        <div class="hero_portfolio">
            <img src="{{ url_for('static', filename='img/photo_devweb.jpg') }}" alt="photo_computer">
            <div class="container">
                <h2>Portfolio</h2>
            </div>
        </div>
    </section>

    <section id="cards_portfolio">

        <a href="{{ url_for('portfolio.portfolio_new') }}">Add new project</a>

        <div class="container">

            {% for project in projects %}

                <div class="card_decentralized">
                    <a href="{{ url_for('portfolio.portfolio_project', project_id=project.id) }}">

                        {% if project.image %}
                            <img src="{{ url_for('static', filename='uploads/portfolio/' ~ project.image) }}" class="img-fluid">
                        {% endif %}
                        
                        <h3>{{ project.title }}</h3>
                        <h4>{{ project.description }}</h4>
                        View project
                    </a>
                </div>

            {% else %}

            <p>there not are projects...</p>

            {% endfor %}

        </div>
    </section>
    
{% endblock %}