
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- pour le responsive mobile-desktop -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Portfolio Artiste Photographe">

    <!-- seo pour google -->
    <meta name="robots" content="index, follow">
    <meta name="author" content="Manel Ocana">

    <!-- pour partager le link -->
    <meta property="og:title" content="Home frisk agency">
    <meta property="og:description" content="the home, with all contents">
    <meta property="og:image" content="image.webp">
    <meta property="og:type" content="website">

    <link rel="icon" href="favicon.ico">

    <!-- pour mobile -->
    <meta name="theme-color" content="#ffffff">

    <!-- ameillorer perfonmance de fontaines externes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <!-- eviter contenu repeté -->
    <!-- <link rel="canonical" href="https://manelocana.github.io/Projet_block_1_frontend/"> -->

    <title>{{ title if title else 'Projet Ilaria' }}</title>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


    {% block extra_css %}{% endblock %}
    
</head>

<body>

    {% include 'partials/header.html' %}


    <!-- accept messages flash! -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        </div>
    {% endif %}
    {% endwith %}


    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'partials/footer.html' %}

    <script src="https://cdn.ckeditor.com/ckeditor5/38.0.1/classic/ckeditor.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    
</body>
</html>
