
{% extends 'index.html' %}


{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/pages.css') }}">
{% endblock %}


{% block content %}

    <section class="hero_pages">
        <img src="{{ url_for('static', filename='img/photo_computer.jpg') }}" alt="contact image">
        <div class="container">
            <h1>About</h1>
        </div>
    </section>


    <section id="about">
    <div class="container flex-center flex-column text-center">
        <h2>About Me</h2>
        
        <div class="bio_content">
            <div class="bio_image">
                <img src="{{ url_for('static', filename='img/pages-devweb.jpeg') }}" alt="Professional Photographer">
            </div>

            <div class="bio_text">
                <p>
                    Hello! I'm <strong>Alex Moreno</strong>, a professional photographer and founder of <em>Alex Moreno Photography</em>. 
                    For over 10 years, I have captured unique moments, combining creativity and technique to tell stories through my images.
                </p>

                <p>
                    My studio specializes in wedding photography, portraits, and commercial projects, offering personalized solutions for each client.
                    We believe every photograph should convey emotion and authenticity.
                </p>

                <p>
                    When I'm not behind the camera, I dedicate my time to teaching photography and exploring new visual trends that inspire my work.
                </p>

                <a href="{{ url_for('portfolio.portfolio') }}" class="btn">
                    View My Projects
                </a>
            </div>
        </div>
    </div>
    </section>


    <section id="cards">
        <h2>WHAT WE CAN DO FOR OUR CLIENTS</h2>
        <div class="container">
            <div class="card_desing">
                <h3>Branding Desing</h3>
                <p>branding desing</p>
                <a href="{{ url_for('pages.branding') }}">VIEW DETAILS</a>

            </div>
            <div class="card_develope">
                <h3>Website Developement</h3>
                <p>Websitedevelopee</p>
                <a href="{{ url_for('pages.branding') }}">VIEW DETAILS</a>
            </div>
            <div class="card_modelling">
                <h3>Illustration Modelling</h3>
                <p>modelo de ilustracion</p>
                <a href="{{ url_for('pages.branding') }}">VIEW DETAILS</a>
            </div>
            <div class="card_marketing">
                <h3>Sigital Marketing</h3>
                <p>digital marketing</p>
                <a href="{{ url_for('pages.branding') }}">VIEW DETAILS</a>
            </div>
        </div>
    </section>

    <section class="services">
        <div class="container">
            <img src="{{ url_for('static', filename='img/devs_hablando.jpeg') }}" alt="services">
            <div class="container_del_container">
                <h2>WE OFFER A WIDE RANGE OF BRAND SERVICES</h2>
                <h3>Passionate About Creating Quality Desing</h3>
                <p>We are a creative agency working with brands building insighful strategy, creating unique desings and crafting value</p>
                <p class="services_list">
                    branding<br>
                    developpement<br>
                    advertising<br>
                    marketing
                </p>
            </div>
        </div>
    </section>

    

{% endblock %}


    
